/* Coolors Exported Palette - https://coolors.co/f25757-463f3a-fbfffe-9067c6-2fbf71 */

/* CSS HEX */
--tart-orange: #f25757ff;
--dark-lava: #463f3aff;
--white: #fbfffeff;
--amethyst: #9067c6ff;
--emerald: #2fbf71ff;

/* CSS HSL */
--tart-orange: hsla(0, 86%, 65%, 1);
--dark-lava: hsla(25, 9%, 25%, 1);
--white: hsla(165, 100%, 99%, 1);
--amethyst: hsla(266, 45%, 59%, 1);
--emerald: hsla(147, 61%, 47%, 1);

/* SCSS HEX */
$tart-orange: #f25757ff;
$dark-lava: #463f3aff;
$white: #fbfffeff;
$amethyst: #9067c6ff;
$emerald: #2fbf71ff;

/* SCSS HSL */
$tart-orange: hsla(0, 86%, 65%, 1);
$dark-lava: hsla(25, 9%, 25%, 1);
$white: hsla(165, 100%, 99%, 1);
$amethyst: hsla(266, 45%, 59%, 1);
$emerald: hsla(147, 61%, 47%, 1);

/* SCSS RGB */
$tart-orange: rgba(242, 87, 87, 1);
$dark-lava: rgba(70, 63, 58, 1);
$white: rgba(251, 255, 254, 1);
$amethyst: rgba(144, 103, 198, 1);
$emerald: rgba(47, 191, 113, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);
$gradient-right: linear-gradient(90deg, #f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);
$gradient-bottom: linear-gradient(180deg, #f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);
$gradient-left: linear-gradient(270deg, #f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);
$gradient-top-right: linear-gradient(45deg, #f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);
$gradient-bottom-right: linear-gradient(135deg, #f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);
$gradient-top-left: linear-gradient(225deg, #f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);
$gradient-bottom-left: linear-gradient(315deg, #f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);
$gradient-radial: radial-gradient(#f25757ff, #463f3aff, #fbfffeff, #9067c6ff, #2fbf71ff);